In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
from subprocess import check_output

print(check_output(["ls","../datasets"]).decode("utf8"))

UCI_Credit_Card.csv
app-store-apple-data-set-10k-apps
data.csv
fifa-18-demo-player-dataset
fifa-18-more-complete-player-dataset
nyse
sandp500
sf-salaries
speed-dating-experiment
us-acs-mortgage-equity-loans-rent-statistics
world-happiness-report
world-university-rankings
xAPI-Edu-Data.csv

In [51]:
data = pd.read_csv("../datasets/fifa-18-demo-player-dataset/CompleteDataset.csv")
data.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# helper function to see column as .head() and .tail() for row. 
# to see the column val if the column number is way bigger than the cell size
def col_viewer(self, m, n):
    return self.iloc[:, m:n]

pd.DataFrame.col_viewer = col_viewer

In [98]:
dat1 = pd.DataFrame(data)
dat1.col_viewer(0,20).head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228,89,63,89,63,93,95,85
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154,92,48,90,95,95,96,77
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100,94,56,96,82,95,92,75
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291,88,78,86,60,91,83,77
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493,58,29,52,35,48,70,15

In [100]:
dat1.col_viewer(20,40).head()

,Curve,Dribbling,Finishing,Free kick accuracy,GK diving,GK handling,GK kicking,GK positioning,GK reflexes,Heading accuracy,Interceptions,Jumping,Long passing,Long shots,Marking,Penalties,Positioning,Reactions,Short passing,Shot power
0,81,91,94,76,7,11,15,14,11,88,29,95,77,92,22,85,95,96,83,94
1,89,97,95,90,6,11,15,14,8,71,22,68,87,88,13,74,93,95,88,85
2,81,96,89,84,9,9,15,15,11,62,36,61,75,77,21,81,90,88,81,80
3,86,86,94,84,27,25,31,33,37,77,41,69,64,86,30,85,92,93,83,87
4,14,30,13,11,91,90,95,91,89,25,30,78,59,16,10,47,12,85,55,25

In [101]:
# omit/drop the column that aren't necessary 
clean_dat = dat1.drop(['Photo', 'Flag', 'Club Logo'], axis=1)
clean_dat

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,€95.5M,€565K,2228,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,Argentina,93,93,FC Barcelona,€105M,€565K,2154,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,Brazil,92,94,Paris Saint-Germain,€123M,€280K,2100,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,Uruguay,92,92,FC Barcelona,€97M,€510K,2291,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,Germany,92,92,FC Bayern Munich,€61M,€230K,1493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,€92M,€355K,2143,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,6,De Gea,26,Spain,90,92,Manchester United,€64.5M,€215K,1458,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,E. Hazard,26,Belgium,90,91,Chelsea,€90.5M,€295K,2096,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,8,T. Kroos,27,Germany,90,90,Real Madrid CF,€79M,€340K,2165,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,9,G. Higuaín,29,Argentina,90,90,Juventus,€77M,€275K,1961,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,10,Sergio Ramos,31,Spain,90,90,Real Madrid CF,€52M,€310K,2153,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,11,K. De Bruyne,26,Belgium,89,92,Manchester City,€83M,€285K,2162,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,12,T. Courtois,25,Belgium,89,92,Chelsea,€59M,€190K,1282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,A. Sánchez,28,Chile,89,89,Arsenal,€67.5M,€265K,2181,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
14,14,L. Modrić,31,Croatia,89,89,Real Madrid CF,€57M,€340K,2228,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
15,15,G. Bale,27,Wales,89,89,Real Madrid CF,€69.5M,€370K,2263,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
16,16,S. Agüero,29,Argentina,89,89,Manchester City,€66.5M,€325K,2074,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
17,17,G. Chiellini,32,Italy,89,89,Juventus,€38M,€225K,1867,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
18,18,G. Buffon,39,Italy,89,89,Juventus,€4.5M,€110K,1335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,P. Dybala,23,Argentina,88,93,Juventus,€79M,€215K,2063,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
20,20,J. Oblak,24,Slovenia,88,93,Atlético Madrid,€57M,€82K,1290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,A. Griezmann,26,France,88,91,Atlético Madrid,€75M,€150K,2104,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,22,Thiago,26,Spain,88,90,FC Bayern Munich,€70.5M,€225K,2185,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
23,23,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,€61M,€165K,2078,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
24,24,L. Bonucci,30,Italy,88,88,Milan,€44M,€210K,1995,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
25,25,J. Boateng,28,Germany,88,88,FC Bayern Munich,€48M,€215K,1989,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,26,D. Godín,31,Uruguay,88,88,Atlético Madrid,€40M,€125K,1930,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,27,M. Hummels,28,Germany,88,88,FC Bayern Munich,€48M,€215K,2038,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,28,M. Özil,28,Germany,88,88,Arsenal,€60M,€265K,1927,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,29,H. Lloris,30,France,88,88,Tottenham Hotspur,€38M,€165K,1318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,17951,M. Hurst,21,Scotland,48,58,St. Johnstone FC,€40K,€1K,991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,17952,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,€60K,€1K,1377,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
17953,17953,K. Cotter,18,England,48,67,Luton Town,€60K,€1K,1329,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,17954,T. Robinson,19,England,48,64,Bradford City,€60K,€1K,1257,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17955,17955,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,€60K,€1K,1330,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
17956,17956,Z. Mohammed,17,England,48,64,Accrington Stanley,€50K,€1K,1167,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17957,17957,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,€50K,€1K,1199,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
17958,17958,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,€40K,€1K,1189,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
17959,17959,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,€60K,€1K,1330,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
17960,17960,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,€70K,€1K,1290,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
17961,17961,J. Latibeaudiere,17,England,47,73,Manchester City,€60K,€5K,1132,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,17962,J. Payne,18,England,47,63,Barnet,€50K,€1K,1219,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17963,17963,G. Manley,19,Republic of Ireland,47,58,Cork City,€50K,€1K,1298,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
17964,17964,P. Phillips,18,Republic of Ireland,47,67,Cork City,€60K,€1K,1297,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
17965,17965,A. Byrne,18,Republic of Ireland,47,61,Cork City,€60K,€1K,1346,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,17966,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,€60K,€1K,1317,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,17967,K. Egan,19,England,47,67,Exeter City,€60K,€1K,1225,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,17968,T. Brownsword,17,England,47,68,Morecambe,€60K,€1K,1143,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17969,17969,F. Prohart,18,Austria,47,67,Wolfsberger AC,€60K,€1K,1238,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
17970,17970,A. Kilgour,19,England,47,56,Bristol Rovers,€40K,€1K,1208,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,17971,R. White,18,England,47,65,Bolton Wanderers,€60K,€2K,1265,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17972,17972,A. Conway,19,Republic of Ireland,47,63,Galway United,€60K,€1K,1314,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
17973,17973,T. Sawyer,18,England,46,58,Grimsby Town,€50K,€1K,1267,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,17974,J. Keeble,18,England,46,56,Grimsby Town,€40K,€1K,1105,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,17975,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,€30K,€1K,1174,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,17976,A. Kelsey,17,England,46,63,Scunthorpe United,€50K,€1K,755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,17977,B. Richardson,47,England,46,46,Wycombe Wanderers,€0,€1K,832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,17978,J. Young,17,Scotland,46,61,Swindon Town,€60K,€1K,1194,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,17979,J. Lundstram,18,England,46,64,Crewe Alexandra,€60K,€1K,1302,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,€50K,€1K,1031,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [11]:
df1 = pd.DataFrame(data)
df1 = df1[["Name","Age", "Nationality", "Overall", "Potential", "Club"]]
df1.head()

                Name  Age Nationality  Overall  Potential                 Club
0  Cristiano Ronaldo   32    Portugal       94         94       Real Madrid CF
1           L. Messi   30   Argentina       93         93         FC Barcelona
2             Neymar   25      Brazil       92         94  Paris Saint-Germain
3          L. Suárez   30     Uruguay       92         92         FC Barcelona
4           M. Neuer   31     Germany       92         92     FC Bayern Munich

In [19]:
df2 = pd.DataFrame(data)
df2 = df2.loc[:,"RB":"ST"]
df2.head()

     RB   RCB   RCM   RDM    RF    RM    RS    RW   RWB    ST
0  61.0  53.0  82.0  62.0  91.0  89.0  92.0  91.0  66.0  92.0
1  57.0  45.0  84.0  59.0  92.0  90.0  88.0  91.0  62.0  88.0
2  59.0  46.0  79.0  59.0  88.0  87.0  84.0  89.0  64.0  84.0
3  64.0  58.0  80.0  65.0  88.0  85.0  88.0  87.0  68.0  88.0
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [22]:
# concat two dataframe to cleanup data into what we need only
# this is only for exploration purpose :p
cldat = pd.concat([df1, df2], axis=1, sort=False)
cldat.head()

,Name,Age,Nationality,Overall,Potential,Club,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
gk = cldat["RB"].isnull() == True
gk_db = cldat[gk]
gk_db.head()

,Name,Age,Nationality,Overall,Potential,Club,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,De Gea,26,Spain,90,92,Manchester United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,T. Courtois,25,Belgium,89,92,Chelsea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,G. Buffon,39,Italy,89,89,Juventus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,J. Oblak,24,Slovenia,88,93,Atlético Madrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
plyr = cldat["RB"].isnull() != True
plyr_db = cldat[plyr]
plyr_db.head()

,Name,Age,Nationality,Overall,Potential,Club,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0

In [50]:
sup_dat1 = pd.read_csv("../datasets/fifa-18-demo-player-dataset/PlayerAttributeData.csv")
sup_dat1.head()

,Unnamed: 0,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
0,0,89,63,89,63,93,95,85,81,91,...,96,83,94,23,91,92,31,80,85,88
1,1,92,48,90,95,95,96,77,89,97,...,95,88,85,26,87,73,28,59,90,85
2,2,94,56,96,82,95,92,75,81,96,...,88,81,80,33,90,78,24,53,80,83
3,3,88,78,86,60,91,83,77,86,86,...,93,83,87,38,77,89,45,80,84,88
4,4,58,29,52,35,48,70,15,14,30,...,85,55,25,11,61,44,10,83,70,11

In [ ]:
# preprocess support data 1 (sup_dat1)

In [35]:
sup_dat2 = pd.read_csv("../datasets/fifa-18-demo-player-dataset/PlayerPersonalData.csv")
sup_dat2.head()

,Unnamed: 0,Unnamed: 0.1,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,0,0,20801,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228
1,1,1,158023,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154
2,2,2,190871,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100
3,3,3,176580,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291
4,4,4,167495,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493

In [36]:
sup_dat3 = pd.read_csv("../datasets/fifa-18-demo-player-dataset/PlayerPlayingPositionData.csv")
sup_dat3.head()

,Unnamed: 0,CAM,CB,CDM,CF,CM,ID,LAM,LB,LCB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,89.0,53.0,62.0,91.0,82.0,20801,89.0,61.0,53.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,92.0,45.0,59.0,92.0,84.0,158023,92.0,57.0,45.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,88.0,46.0,59.0,88.0,79.0,190871,88.0,59.0,46.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,87.0,58.0,65.0,88.0,80.0,176580,87.0,64.0,58.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,NaN,NaN,NaN,NaN,NaN,167495,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
dat3 = pd.DataFrame(sup_dat3)
dat3.col_viewer(3,23).head()

,CDM,CF,CM,ID,LAM,LB,LCB,LCM,LDM,LF,LM,LS,LW,LWB,Preferred Positions,RAM,RB,RCB,RCM,RDM
0,62.0,91.0,82.0,20801,89.0,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,ST LW,89.0,61.0,53.0,82.0,62.0
1,59.0,92.0,84.0,158023,92.0,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,RW,92.0,57.0,45.0,84.0,59.0
2,59.0,88.0,79.0,190871,88.0,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,LW,88.0,59.0,46.0,79.0,59.0
3,65.0,88.0,80.0,176580,87.0,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,ST,87.0,64.0,58.0,80.0,65.0
4,NaN,NaN,NaN,167495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,NaN,NaN,NaN,NaN,NaN